USE [master]
GO
/****** Object:  Database [ConsoledbProje]    Script Date: 19.05.2025 14:08:12 ******/
CREATE DATABASE [ConsoledbProje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConsoledbProje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ConsoledbProje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConsoledbProje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ConsoledbProje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConsoledbProje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConsoledbProje]
GO
/****** Object:  Table [dbo].[Tablocurrency]    Script Date: 19.05.2025 14:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tablocurrency](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[kurisim] [nvarchar](50) NULL,
	[kursembol] [nchar](1) NULL,
 CONSTRAINT [PK_Tablocurrency] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tablocurrencyvalues]    Script Date: 19.05.2025 14:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tablocurrencyvalues](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[kurID] [int] NULL,
	[kuralisfiyat] [decimal](18, 4) NULL,
	[kursatisfiyat] [decimal](18, 4) NULL,
	[tarih] [date] NULL,
 CONSTRAINT [PK_Tablocurrencyvalues] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabloislem]    Script Date: 19.05.2025 14:08:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabloislem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[musteriisim] [nvarchar](50) NULL,
	[musterisoyisim] [nvarchar](50) NULL,
	[kurID] [int] NULL,
	[islemturu] [nvarchar](10) NULL,
	[gunceldegeri] [decimal](18, 4) NULL,
	[miktar] [decimal](18, 2) NULL,
	[toplamucret] [decimal](18, 4) NULL,
	[tarih] [date] NULL,
 CONSTRAINT [PK_Tabloislem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tablocurrencyvalues]  WITH CHECK ADD  CONSTRAINT [FK_Tablocurrencyvalues_Tablocurrency] FOREIGN KEY([kurID])
REFERENCES [dbo].[Tablocurrency] ([ID])
GO
ALTER TABLE [dbo].[Tablocurrencyvalues] CHECK CONSTRAINT [FK_Tablocurrencyvalues_Tablocurrency]
GO
ALTER TABLE [dbo].[Tabloislem]  WITH CHECK ADD  CONSTRAINT [FK_Tabloislem_Tablocurrency] FOREIGN KEY([kurID])
REFERENCES [dbo].[Tablocurrency] ([ID])
GO
ALTER TABLE [dbo].[Tabloislem] CHECK CONSTRAINT [FK_Tabloislem_Tablocurrency]
GO
USE [master]
GO
